.produkt{
    margin-top: 4%;
}
.slikaGolema{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.GOT{
    font-weight: bold; 
}
.produkt h5{
    line-height: 1.5;
}
.BuyNow{
    border: 1px solid black;
    border-radius: 5px;
    background-image: url(bg.jpg);
}
.BuyNowPozadina{
    background-color: rgba(0, 0, 0, 0.669);
    color: white;
    padding: 5%;
}
.BuyNowPozadina .btn{
    width: 90%;
    text-align: center;
    border: 1px solid black;
    margin-left: 5%;
    margin-bottom: 2.7%;
}
.BuyNowPozadina h6{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.BuyNowPozadina{
    text-align: center;
}
.BuyNowPozadina h5{
    font-weight: bolder;
}
.BuyNowPozadina input{
    width: 85%;
    margin-left: 4%;
    border: 1px solid black;
    border-radius: 5px;
    height: 5dvh;
}
.Slikicki{
    width: 35.6%;
    text-align: center;
}
.Slikicki div{
    display: inline-block;
}
.Slikicki img{
    width: 20%;
    display: inline-block;
}